streamlit
streamlit-lottie        # animations
requests                # http requests
Pillow                  # display images
numpy               
opencv-python           # image processing
validators              # url validation
geosky                  # countries and cities
streamlit-extras        # custom components
streamlit-authenticator # authentication
streamlit-tags          # tags
